section.shop__tab {
  width: 100%;
  max-width: ptr(1120);
  padding: ptr(16) 0;
  margin: 0 auto;

  & > div.intro {
    font-size: ptr(16);
    font-weight: 500;
    margin-bottom: ptr(8);
  }

  & > div.shop__tab--content {
    display: flex;
    gap: ptr(24);
    margin-bottom: ptr(24);

    [data-active="active"] {
      color: #000000;
    }

    & > div {
      cursor: pointer;
      font-size: ptr(40);
      letter-spacing: ptr(-1);
      font-weight: 500;

      line-height: .9;
      color: #d9d9d9;
    }
  }

  & > div.count {
    font-size: ptr(16);
    font-weight: 500;
  }
}