section.clothes__content {
  width: 100%;
  max-width: ptr(1440);
  padding: ptr(15) 0;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: ptr(15);
}

.fade__img img {
  opacity: 0;
}

.hidden {
  display: none;
}