div.shop__filter {

  display: flex;
  position: sticky;
  background-color: rgba(255, 255, 255, .6);
  backdrop-filter: blur(ptr(30));
  -webkit-backdrop-filter: blur(ptr(30));
  bottom: ptr(48);
  margin: 0 auto;
  border-radius: ptr(1000);
  height: ptr(48);
  width: ptr(116);
  padding: ptr(6) ptr(24);
  align-items: center;
  z-index: 2;
  gap: ptr(8);
  cursor: pointer;
  user-select: none;

  & > span.shop__filter--icon {
    width: ptr(24);
    height: ptr(24);
  }

  & > span {
    font-weight: 500;
  }
}